.container{
    padding: 1em;
    background-color: rgb(151, 220, 255);
}

.container ul{
    display: flex;
    list-style: none;
      
}

.container li {
    margin-right: 1em;
    text-decoration: none; 
}

.link{
    text-decoration: none;
    transition: all .3s;
}

.link:hover{
    color: rgb(94, 89, 255);
}

@media (max-width: 720px) {
    .container {
        padding: .4em;
    }

    .link {
        font-size: 1.5em;
    }
  }