.container{
    padding: 1em;
    background-color: rgb(38, 57, 39);
}

.container ul{
    display: flex;
    list-style: none;
      
}

.container li {
    margin-right: 1em;
    text-decoration: none; 
}

.link{
    text-decoration: none;
    transition: all .3s;
}

.link:hover{
    color: rgb(202, 202, 150);
}